- if data
  %span.name= "#{@statistic.name}:"
  - case @statistic
  - when Minimum
    %span.value.minimum= "#{data.value.round(1)}#{@statistic.config['units']}"
    at
    = data.time.strftime('%I:%M %p, %b %d')
  - when Maximum
    %span.value.maximum= "#{data.value.round(1)}#{@statistic.config['units']}"
    at
    = data.time.strftime('%I:%M %p, %b %d')
  - when Total
    %span.value.total= "#{data.round(1)}#{@statistic.config['units']}"
  - when Current
    %span.value.current= "#{data.round(1)}#{@statistic.config['units']}"
  - when Sunrise
    %span.value.sunrise= data.strftime("%I.%M<small>%p</small>").gsub(/^0/, "").downcase
  - when Sunset
    %span.value.sunrise= data.strftime("%I.%M<small>%p</small>").gsub(/^0/, "").downcase
